body {
  font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  background: #778;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div.presentation {
  position: absolute;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  background: inherit;
}

div.slides {
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  background-color: #fff;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
}

div.slide {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 900px;
  height: 700px;
  left: 50%;
  top: 50%;
  margin-top: -350px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#eeeeec));
  background-color: #eee;
  background: -moz-linear-gradient(bottom, #fff, #eeeeec);
  -webkit-transition: margin 0.25s ease-in-out;
  -moz-transition: margin 0.25s ease-in-out;
  -o-transition: margin 0.25s ease-in-out;
  border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

div.slide p {
  font-size: 20px;
}

.slide.far-past {
  display: block;
  margin-left: -2400px;
}

.slide.past {
  display: block;
  margin-left: -1400px;
}

.slide.current {
  display: block;
  margin-left: -450px;
}

.slide.future {
  display: block;
  margin-left: 500px;
}

.slide.far-future {
  display: block;
  margin-left: 1500px;
}

body.three-d div.slides {
  -webkit-transform: translateX(50px) scale(0.8) rotateY(10deg);
  -moz-transform: translateX(50px) scale(0.8) rotateY(10deg);
  -o-transform: translateX(50px) scale(0.8) rotateY(10deg);
}


/* Content */

header:not(:only-child) {
  font-family: 'Lucida Grande';
  font-weight: normal;
  font-size: 50px;
  letter-spacing: -.05em;
  color: white;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  position: absolute;
  left: 30px;
  top: 25px;
  margin: 0;
  padding: 0;
}

header h1, header h2 {
  display: inline;
  font-size: 100%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

header h2:first-child {
  margin-top: 0;
}

section, .slide header:only-child h1 {
  font-family: 'Lucida Grande';
  color: #3f3f3f;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 100px;
  display: block;
  overflow: hidden;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 110%;
  border-bottom: 2px solid #3f3f3f;
}

pre {
  font-size: 16px;
  font-family: Monaco, Courier, monospace;
}

li {
  padding: 10px 0;
  font-size: 20px;
}

.slide header:only-child h1 {
  line-height: 180%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 700px;
  width: 900px;
  font-size: 50px;
  margin-top:100px;
  margin-bottom:100px;
}

.sidebar {
  background: -webkit-gradient(linear, top right, bottom right, from(#dde), to(#fff));
  -webkit-transition: margin 0.25s ease-in-out;
  background-color: #eee;
  background: -moz-linear-gradient(right, #dde, #fff);
  border-right: 5px solid #ccd;
  z-index: 9999999;
  height: 100%;
  overflow: hidden;
  top: 0;
  position: absolute;
  display: block;
  margin: 0;
  padding: 10px 16px;
  overflow: auto;
  -webkit-transition: margin 0.2s ease-in-out;
  -moz-transition: margin 0.2s ease-in-out;
  -o-transition: margin 0.2s ease-in-out;
}

.sidebar h2 {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 0 0 16px;
  padding: 0;
}

.sidebar table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.sidebar table caption {
  display: none;
}

.sidebar tr {
  margin: 2px 0;
  border-bottom: 1px solid #ccc;
}

.sidebar th {
  text-align: left;
  font-weight: normal;
  max-width: 300px;
  overflow: hidden;
}

.sidebar tr.sub th {
  text-indent: 20px;
}

.sidebar td {
  text-align: right;
  min-width: 20px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  border-bottom: none;
  padding: 4px 0;
}

.sidebar tr.active {
  background: #ff0;
}

aside {
  display: none;
}
  aside.source {
    position: absolute;
    bottom: 6px;
    left: 10px;
    text-indent: 10px;
  }
  aside.page_number {
    position: absolute;
    bottom: 6px;
    right: 10px;
    text-indent: 10px;
  }

.notes {
  display: none;
  padding: 10px;
  background: #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
  div.slide p.notes {
    font-size: 90%;
  }
img { display: block; margin: auto; }
