body {
  font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  background: #fff;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div.presentation {
  position: absolute;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  background: inherit;
}

div.slides, body.expose div.slides.nocontext {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  background-color: #fff;
}


div.slides.nocontext {
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
}

div.slide {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 1024px;
  height: 768px;
  left: 50%;
  top: 50%;
  margin-top: -384px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#eeeeec));
  background-color: #eee;
  background: -moz-linear-gradient(bottom, #fff, #eeeeec);
  -webkit-transition: margin 0.25s ease-in-out;
  -moz-transition: margin 0.25s ease-in-out;
  -o-transition: margin 0.25s ease-in-out;
  border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;

}

div.slide p {
  font-size: 20px;
}

.slide.far-past {
  display: block;
  margin-left: -2660px;
}

.slide.past {
  display: block;
  margin-left: -1586px;
}

.slide.current {
  display: block;
  margin-left: -512px;
}

.slide.future {
  display: block;
  margin-left: 562px;
}

.slide.far-future {
  display: block;
  margin-left: 1636px;
}

body.three-d div.slides {
  -webkit-transform: translateX(50px) scale(0.8) rotateY(10deg);
  -moz-transform: translateX(50px) scale(0.8) rotateY(10deg);
  -o-transform: translateX(50px) scale(0.8) rotateY(10deg);
}


/* Content */

header:not(:only-child) {
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: -.05em;
  color: white;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  position: absolute;
  left: 30px;
  top: 25px;
  margin: 0;
  padding: 0;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
  display: inline;
  font-size: 100%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

header h2:first-child {
  margin-top: 0;
}

section, .slide header:only-child h1 {
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color: #3f3f3f;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 100px;
  display: block;
  overflow: hidden;
}

section img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section img.align-right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

section img.align-left {
  display: block;
  margin-right: auto;
  margin-left: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 110%;
  border-bottom: 2px solid #3f3f3f;
}

pre, code, tt {
  font-family: Monaco, Consolas, 'Bitstream Vera Sans Mono', 'Lucida Console', FreeMono, Courier, monospace;
}

pre, .gist .gist-file .gist-data {
  font-size: 18px;
  max-height: 485px;
  padding-top: 0.25em !important;
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
  overflow: auto;
}

/* render a nice scrollbar in overflowed pre area's */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(#777), to(#bbd));
  -webkit-border-radius: 1ex;
}
::-webkit-scrollbar-corner {
  background: #dedede;
}

blockquote {
  border-left: solid 8px #FFF;
  padding: .1ex 1ex;
  font-style: italic;
}

li {
  padding: 10px 0;
  font-size: 20px;
}

li pre { margin-left: 0em; }

.slide header:only-child h1 {
  line-height: 180%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 768px;
  width: 1024px;
  font-size: 50px;
  margin-top:100px;
  margin-bottom:100px;
}

.sidebar {
  background: -webkit-gradient(linear, top right, bottom right, from(#dde), to(#fff));
  -webkit-transition: margin 0.25s ease-in-out;
  background-color: #eee;
  background: -moz-linear-gradient(right, #dde, #fff);
  border-right: 5px solid #ccd;
  z-index: 9999999;
  height: 100%;
  overflow: hidden;
  top: 0;
  position: absolute;
  display: block;
  margin: 0;
  margin-left: -400px;
  padding: 10px 16px;
  overflow: auto;
  -webkit-transition: margin 0.2s ease-in-out;
  -moz-transition: margin 0.2s ease-in-out;
  -o-transition: margin 0.2s ease-in-out;
}

.sidebar h2 {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 0 0 16px;
  padding: 0;
}

.sidebar table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.sidebar table caption {
  display: none;
}

.sidebar tr {
  margin: 2px 0;
  border-bottom: 1px solid #ccc;
}

.sidebar th {
  text-align: left;
  font-weight: normal;
  max-width: 300px;
  overflow: hidden;
}

.sidebar tr.sub th {
  text-indent: 20px;
}

.sidebar td {
  text-align: right;
  min-width: 20px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  border-bottom: none;
  padding: 4px 0;
}

.sidebar tr.active {
  background: #ff0;
}

aside {
  display: none;
}
  aside.source {
  position: absolute;
  bottom: 6px;
  left: 10px;
  text-indent: 10px;
  }
  aside.page_number {
  position: absolute;
  bottom: 6px;
  right: 10px;
  text-indent: 10px;
  }

.notes {
  display: none;
  padding: 10px;
  background: #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
  div.slide p.notes {
  font-size: 90%;
}

img { display: block; margin: auto; }

/* Expose */

body.expose div.slides {
  float: left;
  position: relative;
  overflow: auto;
  margin-bottom: 10px;
}

body.expose div.slide {
  display: block;
  float: left;
  position: relative;
  left: auto !important;
  top: auto !important;
  margin: 10px !important;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -moz-transform: scale(.30, .30);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(.30, .30);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(.30, .30);
  -o-transform-origin: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  cursor: pointer;
}

body.expose div.slide:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#bdd), to(#fff));
  background-color: #eee;
  background: -moz-linear-gradient(bottom, #bdd, #fff);
}

body.expose .slide-wrapper {
  float: left;
  position: relative;
  margin: .5%;
  width: 300px;
  height: 233px;
}

body.expose .slide footer {
}

body.expose .slide .inner {
}

body.expose .slide.far-past,
body.expose .slide.past,
body.expose .slide.future,
body.expose .slide.far-future {
  margin-left: 0;
}

body.expose .slide.current {
  background: -webkit-gradient(linear, left bottom, left top, from(#ddb), to(#fff));
  background-color: #eee;
  background: -moz-linear-gradient(bottom, #ddb, #fff);
  border: 16px solid #fff;
  -moz-transform: scale(.315, .315);
  -webkit-transform: scale(.315, .315);
  -o-transform: scale(.315, .315);
}

/* Presenter Mode */

body.presenter_view div.slide {
  display: inline;
  position: absolute;
  overflow: hidden;
  -moz-transform: scale(.5, .5);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(.5, .5);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(.5, .5);
  -o-transform-origin: 0 0;
  margin-top: -384px;
}

body.presenter_view .slide.far-past {
  display: block;
  margin-left: -1594px;
}

body.presenter_view .slide.past {
  display: block;
  margin-left: -1049px;
}

body.presenter_view .slide.current {
  display: block;
  margin-left: -512px;
  border: 8px solid maroon;
  z-index: 2;
}

body.presenter_view .slide.future {
  display: block;
  margin-left: 25px;
  z-index: 1;
}

body.presenter_view .slide.far-future {
  display: block;
  margin-left: 562px;
}
body.presenter_view .slide.none {
  display: none;
}

body.presenter_view div#current_presenter_notes {
  visibility: visible;
  display: block;
  position: absolute;
  overflow: auto;
  vertical-align: middle;
  left: 50%;
  top: 50%;
  margin-left: -475px;
  margin-top: 100px;
  z-index: 2;
  width: 950px;
  border-style: solid;
  height: 30%;
  background-color: silver;
}

body.presenter_view div#current_presenter_notes section {
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  display: block;
  overflow: visible;
  position: relative;
  background-color: #fffeff;
  height: 120px;
  margin-right: 30px;
  margin-top: 60px;
  margin-left: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

body.presenter_view div#current_presenter_notes section p {
  margin: 0;
}

body.presenter_view div#current_presenter_notes h1 {
  font-size: 50%;
  display: block;
}

div#current_presenter_notes {
  display: none;
}

div.slide div.presenter_notes {
  display: none;
}

#blank {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 64;
  display: none;
}

/*******************/
/* ABYSS SPECIFICS */
/*******************/

section,
body,
div.slides,
div.slide,
div.slides.nocontext {
  background: black;
}
body * {
  font-kerning: normal;
}
section,
header,
div.slides,
div.slide,
div.slides.nocontext,
div.slide h1,
.slide header:only-child h1,
div.slide h2,
div.slide h3,
div.slide h4,
div.slide h5,
div.slide h6 {
  background: black;
  color: white;
}
p.title,
div.slide h1,
div.slide h2,
div.slide h3,
div.slide h4,
div.slide h5,
div.slide h6 {
  letter-spacing: normal !important;
  font-kerning: normal !important;
  font-weight: bold !important;
  font-family: "Segoe UI",Verdana,sans-serif !important;
  /*font-family: 'Candara','Calibri','Segoe UI Semilight','Corbel','Trebuchet Ms','Segoe UI',sans-serif !important;*/
}
section,
header {
  overflow: visible;
  background: transparent;
}
section,
header,
div.slides,
div.slide,
div.slides.nocontext {
  font-family: 'Palatino', 'Palatino Linotype', 'URW Palladio L', 'Century Schoolbook L', 'Georgia', serif;
}
div.slide {
  border-radius: 20px;
  /*border: 2px solid #ffdc00;*/
  border: 2px solid #aaa;
  box-sizing: border-box;
}
body.presenter_view div#current_presenter_notes section {
  background: none;
  margin-top: 0;
  padding-top: 0;
  top: 8ex;
}
body.presenter_view div#current_presenter_notes {
  border: 5px solid #aaa;
  border-radius: 10px;
}
li {
  font-size: 24px;
}
div.slide p {
  font-size: 28px;
}
body.presenter_view div#current_presenter_notes,
.presenter_notes * {
  color: black;
  background: #fafafa;
}
div.inner {
  height: 100%;
}
section {
  position: absolute;
  margin: 0;
  left: 30px;
  right: 30px;
  top: 100px;
  bottom: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.center {
  align-self: center;
  display: inline-block;
}
pre {
  max-height: auto !important;
  overflow: visible;
  margin: 0;
}
blockquote {
  border-left: solid 8px #666;
}
tt.docutils.literal {
  display: inline-block;
  padding: 0.2ex 0.3em;
  background: rgba(128, 128, 128, 0.09);
  border: 1px solid #0e0e0e;
  border-radius: 3px;
}
p {
  margin: 0.5ex 0 0.2ex 0;
}
body.expose div.slide:hover,
body.expose div.slide:hover .inner {
  /*background: -webkit-gradient(linear, left bottom, left top, from(#bbd), to(#fff));*/
  /*background-color: #eee;  */
  background: transparent !important;
  box-shadow: inset 0 0 650px -200px #adadad, 0 0 0 15px #fff;
}
body.expose div.slide:hover * {
  background: transparent;
}
div.slides, body.expose div.slides.nocontext,
body.expose .slide.current,
body.expose .slide.current .inner {
  background: #000 !important;
}
body.expose .slide.current {
  -moz-transform: scale(.30, .30) !important;
  -webkit-transform: scale(.30, .30) !important;
  -o-transform: scale(.30, .30) !important;
  box-shadow: 0 0 0 15px #fff;
  border-width: 2px;
}
div.slide p.title {
  font-size: 50px;
}

/* See: http://stylishthemes.github.io/GitHub-Dark/ */
/* Synic syntax highlighting */
pre pre:not(.diff-line-pre),pre table{background:#000!important;color:#fffff0!important;}
pre .hll{background-color:#ffc!important;}
pre .cp{color:#ffa0a0!important;}
pre .gd{color:#add8e6!important;background-color:#e0ffff!important;}
pre .ge{color:#fffff0!important;text-decoration:underline!important;}
pre .gi{color:#00f!important;background-color:#e0ffff!important;}
pre .go{color:#008b8b!important;}
pre .ni{color:#daa520!important;}
pre .ow{color:#8673e8!important;}
pre .c,pre .cm,pre .c1,pre .cs{color:#708090!important;}
pre .err,pre .g,pre .l,pre .n,pre .o,pre .x,pre .p,pre .gp,
pre .gs,pre .ld,pre .nb,pre .nc,pre .nd,pre .nn,pre .nx,pre .py,
pre .w,pre .bp{color:#fffff0!important;}
pre .k,pre .kc,pre .kd,pre .kn,pre .kp,pre .kr,
pre .nt{color:#f0e68c!important;}
pre .gr,pre .gt{color:red!important;background-color:#faf0e6!important;border-radius:2px;}
pre .gh,pre .gu{color:#ee0!important;}
pre .kt,pre .ne,pre .nl{color:#ffdead!important;}
pre .m,pre .no,pre .mf,pre .mh,pre .mi,pre .mo,
pre .il{color:#cdb7b5!important;}
pre .s,pre .sb,pre .sc,pre .sd,pre .s2,pre .se,pre .sh,pre .si,
pre .sx,pre .sr,pre .s1,pre .ss{color:#9ac0cd!important;}
pre .na,pre .nf,pre .nv,pre .vc,pre .vg,
pre .vi{color:#68838b!important;font-weight:700!important;}
