.sidebar {
  clear: both;
  background: -webkit-gradient(linear, top right, bottom right, from(#dde), to(#fff));
  -webkit-transition: margin 0.25s ease-in-out;
  background-color: #eee;
  background: -moz-linear-gradient(right, #dde, #fff);
  border-right: 5px solid #ccd;
  overflow: hidden;
  top: 0;
  position: absolute;
  display: block;
  margin: 0;
  margin-left: -400px;
  padding: 10px 16px;
  overflow: auto;
  z-index: 9999999;
  -webkit-transition: margin 0.2s ease-in-out;
  -moz-transition: margin 0.2s ease-in-out;
  -o-transition: margin 0.2s ease-in-out;
  height: 500px;
  font-size: 14px;
}

.sidebar h2 {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 0 0 16px;
  padding: 0;
}

.sidebar table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.sidebar table caption {
  display: none;
}
.sidebar tr {
  margin: 2px 0;
  border-bottom: 1px solid #ccc;
}

.sidebar th {
  text-align: left;
  font-weight: normal;
  max-width: 300px;
  overflow: hidden;
}

.sidebar tr.sub th {
  text-indent: 20px;
}

.sidebar td {
  text-align: right;
  min-width: 20px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  border-bottom: none;
  padding: 4px 0;
}

.sidebar tr.active {
  background: #ff0;
}

